  .section,
  .about,
  .about-content,
  .about-text,
  .about-image {
      max-width: 100vw;
      overflow-x: hidden;
  }
  
.about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
  }
  
.about-text {
    flex: 1 1 31.25rem;
}

.about-text h3 {
    font-family: var(--font-heading);
    font-size: 2.75rem;
    margin-bottom: 1.5rem;
    color: var(--dark-color);
}

.about-text span img {
    width: 3.25rem;
}

.about-text p {
    font-size: 1.75rem;
    margin-bottom: 1.9rem;
    color: var(--primary-dark);
}

.about-image {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
}

.about-image img {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
  }
  

.about-image:hover img {
    transform: scale(1.05);
}

